.reviews-card {
  max-width: 350px;
  margin: auto;
  text-align: center;
  padding: em(15);
  background-color: $card-review-color;
  margin-bottom: em(15);
  border-radius: 10px;

  @include desktop {
    max-width: 450px;
    width: 450px;
    padding: em(16);
    display: flex;
    align-items: center;
    font-size: rem(16);
    gap: em(30);

    &:nth-child(2) {
      animation: translatex-45 1s both;
    }

    &:nth-child(1) {
      animation: translatex-90 1s both;
    }
  }

  &__score {
    color: $star-color;
  }

  &__text {
    font-size: rem(17);
    color: $primary-color;
    font-weight: 700;
    margin-top: em(15);

    @include desktop {
      margin-top: 0;
    }
  }
}

.buyer-card {
  max-width: 350px;
  min-height: 230px;
  margin: auto;
  background-color: $primary-color;
  color: white;
  padding: em(32);
  margin-bottom: em(15);
  border-radius: 10px;

  @include desktop {
    &:nth-child(2) {
      animation: translatey15 1s both;
    }

    &:nth-child(3) {
      animation: translatey30 1s both;
    }
  }

  &__header {
    display: flex;
    gap: em(15);
  }

  &__img {
    border-radius: 50%;
    height: 40px;
  }

  &__name {
    font-size: rem(17);
    font-weight: 700;
  }

  &__status {
    color: $buyer-status-color;
    font-size: rem(17);
    margin-top: em(5);
  }

  &__description {
    font-size: rem(17);
    font-weight: 500;
    margin-top: em(25);
  }
}
